body{
background-image:url(images/background.png)
}
div.divtop {
width:800px;
margin-left:auto;
margin-right:auto;
}

div.divmid {
background-color:red;
width:800px;
margin-left:auto;
margin-right:auto;
padding-top:1px;
color:white;
}

div.divbottom{
background-color:white;
width:800px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
color:black;
padding-bottom:30px;
}

div.footer{
background-color:gray;
padding-top:10px;
padding-bottom:10px;
}

li{
display:inline;
padding:20px;
}

form{
padding-top:10px;
}

input.versturen{
margin-left:400px;
margin-right:200px;
}

p{
padding-left:10px;
padding-right:40px;
}

p.footer{
margin-left:250px;
}

h1{
padding-left:10px;
padding-top:20px;
}

a{
text-decoration:none;
color:white;
}

label{
display:inline-block;
width:400px;
}